.header img {
    height: 80px;
}
.header{
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.header nav{
    background-color: black;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;

}

nav a:hover{
    background-color: gray;
    color: darkblue;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}